 <!-- Preloader -->
  <div id="loader">
    <div id="loaderInner"></div>
  </div>

    <!--Header bar-->
    <header id="headerBar">

        <div class="container">

          <!--Header logo on the left side-->

          <div class="col-md-4 col-sm-4 col-xs-4 headerLeft">
          <a href="#">Kyle Chadha
          </a>
          </div>

          <!--Header right side with left-aligned menu-->

          <div class="col-md-8 col-sm-8 col-xs-8 headerRight">
            <div class="header-right">

              <!--Navigation-->
              <nav class="navigation">

                <div class="navbar-header">
                  <span class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <i class="fa fa-bars"></i>
                  </span>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <ul class="navbar navbar-right">
                      <li><a href="#sectionAbout">About</a></li>
                      <li><a href="#sectionPortfolio">Portofolio</a></li>
                      <li><a href="#sectionExperience">Experience</a></li>
                      <li><a href="#sectionContact">Contact</a></li>
                    </ul>

                </div>

              </nav>
              <!--END Navigation-->

            </div>
          </div>
           <!--END Header right side-->


        </div>
        <!--END container-->
      </header>
      <!--END Header bar-->






    <!--section ABOUT-->

    <section id="sectionAbout">

      <div class="container aboutContainer">

        <!--About - LEFT side -->
        <div class="col-md-7 aboutLeft">

<!--           <div class="intro-content">
            <div class="intro-heading animated">

            <span class="lineTag">hard work</span>
            <span class="lineTag">passion</span>
            <span class="lineTag">diligence</span>
            <h1>Kyle Chadha</h1>

            </div>
          </div> -->

        </div>
        <!--END About - LEFT side -->

        <!--About - RIGHT side -->
        <div class="col-md-5 aboutRight">

          <!--About - RIGHT side TOP CONTENT -->
          <div class="aboutRightContentTop">

            <!--About - RIGHT side TITLE -->
            <div class="aboutTitle">
              <h1>Hi there, I'm Kyle.</h1>
              <h2>full stack developer, analytics enthusiast</h2>
            </div>
            <!--END About - RIGHT side TITLE -->

            <!--About - RIGHT side INTRO-->
            <div class="aboutIntro">
              <h2>About me</h2>
                <p>
                  I'm a full stack developer who started his career in management consulting. Between the two, I've been fortunate enough to work on a lot of cool things.

                  <br><br>
                  Now I spend my days hacking away on JavaScript architectural problems at BuzzFeed. On the side, I've been getting into node.js and angular -- and look forward to getting better at both.

<!--                   interested in going deep on JavaSCript .. nah

                  who loves all things JavaScript. I'm currently 

                  currently at BuzzFeed

                  with a background in management consulting

                  started his career in management consulting. Between the two, I've been fortunate to be able to work on a lot of cool things.
                  <br><br>
                  Currently a JavaScript developer at BuzzFeed. Love all things JavaScript -- Node, Angular, MongoDB, Require, Addy Osmani, etc. -->
                </p>
            </div>
            <!--END About - RIGHT side INTRO-->

          </div>
          <!--END About - RIGHT side TOP CONTENT -->

          <!--About - RIGHT side BOTTOM CONTENT -->
          <div class="aboutRightContentBottom">
              <h4>Current gig: BuzzFeed</h4>
              <h4>Role: JavaScript Developer</h4>
              <h4 class="lastChildRCB">Email: kyle.chadha@gmail.com</h4>

              <a class="scroll-down" href="#sectionContact">
                  Get in touch
              </a>
          </div>
          <!--END About - RIGHT side BOTTOM CONTENT -->
        </div>
        <!--About - RIGHT side -->

      </div>
    </section>
    <!--END section ABOUT  -->

    <!-- section RESUME -->
    <section id="sectionResume">

      <div class="container">

      <!-- section TITLE -->
        <div class="sectionTitle">

            <h1>RESUME</h1>

              <h4>Know more about my past</h4>

                <div class="separatorlineblack"></div>

                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  </p>
        </div>
        <!-- END section TITLE -->

      <!-- resume LEFT -->
      <div class="col-md-6 col-sm-6 col-xs-12 resumeLeft">

        <h2>Employment</h2>

          <span class="icon-briefcase"></span>

           <ul class="resumeList">

              <li>
                <b class="resumePeriod">2014-future</b>          
                  <h4>
                  <i class="resumeName">domain.com</i> @ Looking for a job
                  </h4>
                  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </li>  

              <li>
                <b class="resumePeriod">2011-2014</b>          
                  <h4>
                  <i class="resumeName">themeforest.net</i>@ Webdesigner & Developer
                  </h4>
                  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </li>  

              <li>
                <b class="resumePeriod">2009-2011</b>          
                  <h4>
                  <i class="resumeName">graphicriver.net</i>@ Graphic designer
                  </h4>
                  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </li>  

              <li>
                <b class="resumePeriod">2006-2009</b>          
                  <h4>
                  <i class="resumeName">videohive.net</i>@ Video producer
                  </h4>
                  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </li>

          </ul>

      </div>
      <!--END resume LEFT  -->

      <!-- resume RIGHT -->

      <div class="col-md-6 col-sm-6 col-xs-12 resumeRight">

        <h2>Education</h2>

          <span class="icon-notebook"></span>

            <ul class="resumeList">

              <li>
                <b class="resumePeriod">2014</b>
                  <h4>
                  Exam HTML5 Development <i class="resumeName">passed</i>
                  </h4>
                  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </li>

              <li>
                <b class="resumePeriod">2013-2014</b>
                  <h4>
                  Master of Informatics @ <i class="resumeName">passed</i>
                  </h4>
                  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </li>

              <li>
                <b class="resumePeriod">2009-2013</b>
                  <h4>
                  College of Informatics @ <i class="resumeName">graduated</i>
                  </h4>
                  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </li>

              <li>
                <b class="resumePeriod">2004-2009</b>
                  <h4>
                  IT & Informatics Highschool @ <i class="resumeName">graduated</i>
                  </h4>
                  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </li>

          </ul>

      </div>
      <!-- END resume RIGHT -->

      </div>
      <!-- END container -->

      <!-- START container FLUID, SKILLS & THINGS -->
      <div class="container-fluid">
        <div class="resumeStats">

          <span class="icon-newspaper"></span>
          <h2>Skills & Things about me</h2>

          <div class="col-md-2 col-xs-6 col-sm-4">
            <div class="statsIconPerc">
              <span class="icon-camera"></span>
            </div>
            <div class="statsName">
              photographer
            </div>
          </div>

          <div class="col-md-2 col-xs-6 col-sm-4">
            <div class="statsIconPerc">
              97%
            </div>
            <div class="statsName">
              html & css
            </div>
          </div>

          <div class="col-md-2 col-xs-6 col-sm-4">
            <div class="statsIconPerc">
              <span class="icon-genius"></span>
            </div>
            <div class="statsName">
              lil' einstein
            </div>
          </div>


          <div class="col-md-2 col-xs-6 col-sm-4">
            <div class="statsIconPerc">
              81%
            </div>
            <div class="statsName">
              photoshop
            </div>
          </div>

          <div class="col-md-2 col-xs-6 col-sm-4">
            <div class="statsIconPerc">
              <span class="icon-wine"></span>
            </div>
            <div class="statsName">
              wine lover
            </div>
          </div>

          <div class="col-md-2 col-xs-6 col-sm-4 last-twenty">
            <div class="statsIconPerc">
              77%
            </div>
            <div class="statsName">
              wordpress
            </div>
          </div>

        </div>
        <!--END resume STATS -->
      </div>
      <!--END container FLUID -->

    </section>
    <!--END section RESUME-->


    <!-- section SERVICES -->
    <section id="sectionServices">

      <div class="container">

      <!-- section TITLE -->
      <div class="sectionTitle">

            <h1>Services</h1>

              <h4>What can I do for you</h4>

                <div class="separatorlineblack"></div>

      </div>
      <!-- END section TITLE -->

      <!--Services-->

      <div class="col-md-4 col-sm-6 col-xs-12 servicesCol4">
        <div class="servicesLeft">
          <span class="icon-lightbulb"></span>
        </div>
        <div class="servicesRight">
        <h3>Ideas and concepts</h3>
          <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
          </p>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12 servicesCol4">
        <div class="servicesLeft">
          <span class="icon-tools"></span>
        </div>
        <div class="servicesRight">
        <h3>Designs & Interfaces</h3>
          <p>
          Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Donec sit amet venenatis ligula. Aenean sed augue scelerisque.
          </p>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12 servicesCol4">
        <div class="servicesLeft">
          <span class="icon-genius"></span>
        </div>
        <div class="servicesRight">
        <h3>Coding & development</h3>
          <p>
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
          </p>
        </div>
      </div>

    <!--Services second-row-->

      <div class="col-md-4 col-sm-6 col-xs-12 servicesCol4">
        <div class="servicesLeft">
          <span class="icon-mobile"></span>
        </div>
        <div class="servicesRight">
        <h3>Responsive design</h3>
          <p>
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
          </p>
        </div>
      </div>

     <div class="col-md-4 col-sm-6 col-xs-12 servicesCol4">
        <div class="servicesLeft">
          <span class="icon-linegraph"></span>
        </div>
        <div class="servicesRight">
        <h3>Valid HTML5 & CSS3</h3>
          <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
          Donec sit amet venenatis ligula. Aenean sed augue scelerisque, dapibus risus sit amet.
          </p>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12 servicesCol4">
        <div class="servicesLeft">
          <span class="icon-heart"></span>
        </div>
        <div class="servicesRight">
        <h3>Build with love</h3>
          <p>
          Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Donec sit amet venenatis ligula. Aenean sed augue scelerisque, dapibus risus sit amet.
          </p>
        </div>
      </div>

      <!--END Services-->
      </div>
      <!-- END container -->
    </section>
    <!-- END section SERVICES-->


    <!-- section PORTOFOLIO -->
    <section id="sectionWorks">

      <div class="container">

      <!-- section TITLE -->
      <div class="sectionTitle">

            <h1>Portofolio</h1>

              <h4>My latest works</h4>

                <div class="separatorlineblack"></div>

      </div>
      <!-- END section TITLE -->

      <!--GRID START-->

        <div id="worksGrid">

          <!--GRID FILTERS-->
            <div class="worksFiltersDiv">  

              <ul class="worksFilters">
                <li class="filter" data-filter="all">All</li>
                <li class="filter" data-filter=".worksCateg1">First category</li>
                <li class="filter" data-filter=".worksCateg2">Second category</li>
              </ul>

            </div>

        <!--GRID ITEMS-->

          <div class="col-md-4 col-sm-4 col-xs-12 worksItem worksCateg1">
              <a class="noteasing image-popup-no-margins" href="assets/images/works/placeholder.jpg">
                <img src="assets/images/works/placeholder.jpg" alt="">
                <div class="itemCaption">
                <h2>Project name</h2>
                <p>category</p>
                </div>
              </a>
          </div>


          <div class="col-md-4 col-sm-4 col-xs-12 worksItem worksCateg2">
              <a class="noteasing image-popup-no-margins" href="assets/images/works/placeholder.jpg">
                <img src="assets/images/works/placeholder.jpg" alt="">
                <div class="itemCaption">
                <h2>Project name</h2>
                <p>category</p>
                </div>
              </a>
          </div>


          <div class="col-md-4 col-sm-4 col-xs-12 worksItem worksCateg2">
              <a class="noteasing image-popup-no-margins" href="assets/images/works/placeholder.jpg">
                        <img src="assets/images/works/placeholder.jpg" alt="">
                <div class="itemCaption">
                <h2>Project name</h2>
                <p>category</p>
                </div>
              </a>
          </div>


          <div class="col-md-4 col-sm-4 col-xs-12 worksItem worksCateg1">
              <a class="noteasing image-popup-no-margins" href="assets/images/works/placeholder.jpg">
                        <img src="assets/images/works/placeholder.jpg" alt="">
                <div class="itemCaption">
                <h2>Project name</h2>
                <p>category</p>
                </div>
              </a>
          </div>


          <div class="col-md-4 col-sm-4 col-xs-12 worksItem worksCateg2">
              <a class="noteasing image-popup-no-margins" href="assets/images/works/placeholder.jpg">
                        <img src="assets/images/works/placeholder.jpg" alt="">
                <div class="itemCaption">
                <h2>Project name</h2>
                <p>category</p>
                </div>
              </a>
          </div>


          <div class="col-md-4 col-sm-4 col-xs-12 worksItem worksCateg1">
              <a class="noteasing image-popup-no-margins" href="assets/images/works/placeholder.jpg">
                <img src="assets/images/works/placeholder.jpg" alt="">
                <div class="itemCaption">
                <h2>Project name</h2>
                <p>category</p>
                </div>
              </a>
          </div>


          <div class="col-md-4 col-sm-4 col-xs-12 worksItem worksCateg1">
              <a class="noteasing image-popup-no-margins" href="assets/images/works/placeholder.jpg">
                        <img src="assets/images/works/placeholder.jpg" alt="">
                <div class="itemCaption">
                <h2>Project name</h2>
                <p>category</p>
                </div>
              </a>
          </div>


          <div class="col-md-4 col-sm-4 col-xs-12 worksItem worksCateg2">
              <a class="noteasing image-popup-no-margins" href="assets/images/works/placeholder.jpg">
                <img src="assets/images/works/placeholder.jpg" alt="">
                <div class="itemCaption">
                <h2>Project name</h2>
                <p>category</p>
                </div>
              </a>
          </div>


          <div class="col-md-4 col-sm-4 col-xs-12 worksItem worksCateg1">
              <a class="noteasing image-popup-no-margins" href="assets/images/works/placeholder.jpg">
                <img src="assets/images/works/placeholder.jpg" alt="">
                <div class="itemCaption">
                <h2>Project name</h2>
                <p>category</p>
                </div>
              </a>
          </div>

        <!--END GRID ITEMS-->

      </div>
      <!--GRID END-->

      </div>
      <!--container END -->

    </section>
    <!--END section PORTOFOLIO -->


    <!--section CONTACT -->
    <section id="sectionContact">

    <div class="container">

      <!-- section TITLE -->

      <div class="sectionTitle">

            <h1>Contact</h1>

              <h4>Get in touch with me</h4>

                <div class="separatorlineblack"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                </p>

      </div>
      <!-- END section TITLE -->

      <!-- contact FORM-->
      <div class="contactForm">

      <!--MESSAGE SENT SUCCESFULLY-->
      <mark id="message"></mark>


      <!--Main form-->
      <form method="post" action="assets/contact.php" name="contactform" id="contactform" autocomplete="on">
        <fieldset>

          <div>
            <label class="contactLabel">Name *</label>
            <input name="name" type="text" id="name" required="required" />
          </div>

          <div>
            <label class="contactLabel">E-mail *</label>
            <input name="email" type="email" id="email" pattern="^[A-Za-z0-9](([_\.\-]?[a-zA-Z0-9]+)*)@([A-Za-z0-9]+)(([\.\-]?[a-zA-Z0-9]+)*)\.([A-Za-z]{2,})$" required="required" />
          </div>

          <div>
            <label class="contactLabel">Subject *</label>
            <input name="subject" type="text" id="subject" required="required">
          </div>

        </fieldset>

        <fieldset>

          <div>
            <label class="contactLabel">Your message *</label>
            <textarea name="comments" cols="40" rows="3" id="comments" spellcheck="true" required="required"></textarea>
          </div>

        </fieldset>

        <input type="submit" class="submit" id="submit" value="Send message" />

      </form>
      <!--END Main form-->

      </div>
      <!-- END contact FORM-->

      </div>
      <!-- END container -->


      <!-- footer CONTACT-->
      <footer class="contactFooter">

        <div class="container">

          <!-- COPYRIGHT-->
          <div class="col-md-6 col-sm-6 col-xs-12 footerLeft">
            Audentes fortuna juvat
          </div>

          <!-- SOCIAL ICONS -->
          <div class="col-md-6 col-sm-6 col-xs-12 footerRight">
            <a href="#"><span class="icon-facebook"></span></a>
            <a href="#"><span class="icon-twitter"></span></a>
            <a href="#"><span class="icon-googleplus"></span></a>
            <a href="#"><span class="icon-dribbble"></span></a>
        </div>

      </div>
      <!-- END container-->

      </footer>
      <!-- END footer CONTACT-->

      </section>
      <!--END section CONTACT -->
