///
/// GLOBAL SCSS FILE
/// ----------------------------------


// Global Styles
// -----------------------------------
html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #222;
  -webkit-font-smoothing: antialiased;
  background: #fff;
  position: relative;
}

a {
  color: #222;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}

a:hover {
  color: #3dc9b3;
  text-decoration:none;
}


// Global Classes
// -----------------------------------
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.rotate{
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
   
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  &:hover {
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
  }
}
 

// Section Styles
// -----------------------------------
.sectionTitle {
  text-align: center;
  padding-top: 75px;
  padding-bottom: 25px;
  h1 {
    letter-spacing: 1px;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
  }
  h4 {
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 5px;
  }
  p {
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    color: #787878;
  }
  .separatorlineblack {
    margin-bottom: 30px;
  }
}

.separatorlineblack {
  width: 100px;
  height: 2px;
  margin: 0 auto;
  background: #000;
}


// Form Styles
// -----------------------------------
input,
textarea,
select {
  color: #222;
  background: transparent;
  vertical-align: top;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  margin: 0;
  padding: 15px;
  width: 100%;
  height: 100%;
  border: 0;
  border: 1px solid #ccc;
  font-size: 13px;
  font-weight: 600;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  position: relative;
  z-index: 5;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  border: 1px solid #222;
}

input.error,
textarea.error,
select.error {
  border: 1px solid #3dc9b3;
}

input.submit {
  width: auto;
  cursor: pointer;
  position: relative;
  background: transparent;
  border: 2px solid #222;
  color: #222;
  padding: 16px;
  margin: 20px 0;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
}

input.submit:hover {
  color: #fff;
  background: #222;
}

#message { 
  margin: 1em 0; 
  padding: 0; 
  display: block; 
  background: transparent none; 
}

#message h1 {
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

#message p {
  font-size: 16px;
  font-weight: 200;
  font-family: 'Crimson Text', serif;
  text-align: left;
  font-style: italic;
}


// Media Queries
// -----------------------------------
@media screen and (max-width: 768px) {
  .intro-heading h1 {
    font-size:45px;
    line-height: 45px;
  }
  .navbar li {
    display: block;
  }
  .navbar li a {
    line-height: 40px;
  }
}

@media screen and (max-width: 480px) {
  .resumeStats .col-md-2 {
    padding: 20px;
  }
}
