///
/// MASTER SCSS FILE 
/// ----------------------------------

// Import Statements
// -----------------------------------
@import 'global';
@import url(http://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,600,600italic,700);
// @import url(http://fonts.googleapis.com/css?family=Lato:300,400);

// Components
// -----------------------------------
@import 'components/loader';
@import 'components/header';
@import 'components/about';
@import 'components/projects';
@import 'components/technologies';
@import 'components/resume';
@import 'components/contact';


/* ========02. EVERY SECTION TITLES========== */
.sectionTitle {
  text-align: center;
  padding-top: 75px;
  padding-bottom: 25px;
}
.sectionTitle h1 {
    letter-spacing: 1px;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}
.sectionTitle h4 {
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 5px;
}
.sectionTitle p {
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    color: #787878;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.sectionTitle .separatorlineblack {
    margin-bottom: 30px;
}
.separatorlineblack {
    width: 100px;
    height: 2px;
    margin: 0 auto;
    background: #000;
}


/* ========04. SECTION RESUME========== */

#sectionResume {
  background: #ffffff;
  min-height: 600px;
}
#sectionResume h2 {
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 30px;
}
.resumeLeft span, .resumeRight span {
  font-size: 30px;
}
.resumeLeft {
  text-align: right;
  border-right: 1px solid #eee;
}
.resumeRight {
  text-align: left;
}
.resumeList {
  -webkit-padding-start: 0px;
  -moz-padding-start:0px;
  padding: 0 10px;
}
.resumeList li{
  list-style: none;
  margin-top: 40px;
  margin-bottom: 60px;
}
.resumeList li h4 {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.resumeName {
  color: #666;
  font-size: 12px;
  text-transform: lowercase;
}
.resumeList p {
  font-size: 16px;
    font-weight: 300;
    color: #787878;
    font-family: 'Crimson Text', serif;
    font-style: italic;
}
.resumePeriod {
  background: #222222;
  color: #fff;
  padding: 2px 4px;
  font-size: 12px;
  font-style: italic;
}

.resumeStats {
    margin-top: 25px;
    text-align: center;
}
.resumeStats span {
  font-size: 30px;
}
.resumeStats .col-md-2 {
    padding: 50px;
    border-left: 1px solid #eee;
    border-top: 1px solid #eee;
}

.statsIconPerc {
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 1px;
}
.statsName {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
}



/* ====GENERAL FORM STYLES==== */

input, textarea, select {
    color: #222;
  background: transparent;
  vertical-align: top;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  margin: 0;
  padding: 15px;
  width: 100%;
  height: 100%;
  border: 0;
  border: 1px solid #ccc;
    font-size: 13px;
    font-weight: 600;
}
input:focus, textarea:focus, select:focus {
  outline: none;
  position: relative;
  z-index: 5;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  border: 1px solid #222;
}
input.error, textarea.error, select.error {
  border: 1px solid #3dc9b3;
}
input.submit {
  width: auto;
  cursor: pointer;
  position: relative;
    background: transparent;
    border: 2px solid #222;
    color: #222;
    padding: 16px;
    margin: 20px 0;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
    font-weight: 600;
}
input.submit:hover {
    color: #ffffff;
    background: #222;
}

/* ====MESSAGE FOR SUCCES==== */

#message { 
  margin: 1em 0; 
  padding: 0; 
  display: block; 
  background: transparent none; 
}
#message h1 {
    letter-spacing: 1px;
  font-size: 20px;
    font-weight: 400;
  text-transform: uppercase;
}

#message p {
    font-size: 16px;
    font-weight: 200;
    font-family: 'Crimson Text', serif;
    text-align: left;
    font-style: italic;
}

/* ========08. MEDIA QUERIES FOR RESPONSIVE DESIGN========== */
@media screen and (max-width: 768px) {

.intro-heading h1 {
    font-size:45px;
    line-height: 45px;
}
.navbar li {
  display: block;
}
.navbar li a {
  line-height: 40px;
}

}

@media screen and (max-width: 480px) {

.resumeStats .col-md-2 {
    padding: 20px;
}


}


