///
/// EXPERIENCE / RESUME SCSS FILE
/// ----------------------------------

#sectionResume {
  background: #fff;
  min-height: 600px;
  h2 {
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 30px;
  }

  .resumeLeft {
    text-align: right;
    border-right: 1px solid #eee;
    span {
      font-size: 30px;
    }
  }

  .resumeRight {
    text-align: left;
    span {
      font-size: 30px;
    }
  }

  .resumeList {
    -webkit-padding-start: 0px;
    -moz-padding-start:0px;
    padding: 0 10px;
    li {
      list-style: none;
      margin-top: 40px;
      margin-bottom: 60px;
      h4 {
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
      p {
        font-size: 15px;
        color: #787878;
        font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
      }
      .resumeName {
        color: #666;
        font-size: 12px;
      }
      .resumePeriod {
        background: #222;
        color: #fff;
        padding: 2px 4px;
        font-size: 12px;
        font-style: italic;
      }
    }
  }
}
