<!-- About Section -->
<section id="sectionAbout">
  <div class="container">

    <div class="col-md-offset-7 col-md-5 aboutRight">

      <div class="aboutRightContentTop">
        <div class="aboutTitle">
          <h1>Hi there, I'm Kyle.</h1>
          <h2>full stack developer, javascript enthusiast</h2>
        </div>

        <div class="aboutIntro">
          <h2>About me</h2>
          <p>I'm a full stack developer with a background in management consulting. Between the two, I've been able to work on a lot of cool things (and in a lot of cool places), and I'm hungry for more.<br><br>
          I currently spend my days hacking away on JavaScript architectural problems at BuzzFeed. On the side, I've been getting into node.js and angular -- and am very interested in mastering both.
          </p>
        </div>
      </div>

      <div class="aboutRightContentBottom">
        <h4>Current gig: BuzzFeed</h4>
        <h4>Role: JavaScript Developer</h4>
        <h4 class="noselect">Email: kyle.chadha@gmail.com</h4>

        <div class="aboutRightContentShare">
            <a target="_blank" href="https://github.com/kylechadha?tab=repositories"><i class="fa fa-github-square rotate"></i></a>
            <a target="_blank" href="https://www.linkedin.com/in/kylechadha"><i class="fa fa-linkedin-square rotate"></i></a>
            <a target="_blank" href="https://twitter.com/kylechadha"><i class="fa fa-twitter-square rotate"></i></a>
            <a href="mailto:kyle.chadha@gmail.com?Subject=Hello%20again"><i class="fa fa-envelope-square rotate"></i></a>
        </div>
      </div>
      
    </div>

  </div>
</section>
