    <!--section ABOUT-->

    <section id="sectionAbout">

      <div class="container aboutContainer">

        <!--About - LEFT side -->
        <div class="col-md-7 aboutLeft">

<!--           <div class="intro-content">
            <div class="intro-heading animated">

            <span class="lineTag">hard work</span>
            <span class="lineTag">passion</span>
            <span class="lineTag">diligence</span>
            <h1>Kyle Chadha</h1>

            </div>
          </div> -->

        </div>
        <!--END About - LEFT side -->

        <!--About - RIGHT side -->
        <div class="col-md-5 aboutRight">

          <!--About - RIGHT side TOP CONTENT -->
          <div class="aboutRightContentTop">

            <!--About - RIGHT side TITLE -->
            <div class="aboutTitle">
              <h1>Hi there, I'm Kyle.</h1>
              <h2>full stack developer, nerd extraordinaire</h2>
            </div>
            <!--END About - RIGHT side TITLE -->

            <!--About - RIGHT side INTRO-->
            <div class="aboutIntro">
              <h2>About me</h2>
                <p>
                  I'm a full stack developer with a background in management consulting. Between the two, I've been able to work on a lot of cool things (and in a lot of cool places).

                  <br><br>
                  Now I spend my days hacking away on JavaScript architectural problems at BuzzFeed. On the side, I've been getting into node.js and angular -- and look forward to mastering both.

<!--                   interested in going deep on JavaSCript .. nah

                  who loves all things JavaScript. I'm currently 

                  currently at BuzzFeed

                  with a background in management consulting

                  started his career in management consulting. Between the two, I've been fortunate to be able to work on a lot of cool things.
                  <br><br>
                  Currently a JavaScript developer at BuzzFeed. Love all things JavaScript -- Node, Angular, MongoDB, Require, Addy Osmani, etc. -->
                </p>
            </div>
            <!--END About - RIGHT side INTRO-->

          </div>
          <!--END About - RIGHT side TOP CONTENT -->

          <!--About - RIGHT side BOTTOM CONTENT -->
          <div class="aboutRightContentBottom">
              <h4>Current gig: BuzzFeed</h4>
              <h4>Role: JavaScript Developer</h4>
              <h4 class="lastChildRCB">Email: kyle.chadha@gmail.com</h4>

              <a class="scroll-down" href="#sectionContact">
                  Get in touch
              </a>
          </div>
          <!--END About - RIGHT side BOTTOM CONTENT -->
        </div>
        <!--About - RIGHT side -->

      </div>
    </section>
    <!--END section ABOUT  -->
