<header id="headerBar">

  <div class="container">

    <div class="col-md-4 col-sm-5 col-xs-8 headerLeft">
      <a href="#">Kyle Chadha</a>
    </div>

    <div class="col-md-8 col-sm-7 col-xs-4 headerRight">

      <div class="header-right">
        <nav class="navigation">

          <div class="navbar-header">
            <span class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <i class="fa fa-bars"></i>
            </span>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="navbar navbar-right">
              <li><a href="#sectionAbout">About</a></li>
              <li><a href="#sectionProjects">Projects</a></li>
              <li><a href="#sectionResume">Experience</a></li>
              <li><a href="#sectionContact">Contact</a></li>
            </ul>
          </div>

        </nav>

      </div>
    </div>

  </div>
  
</header>
