<!--Header bar-->
<header id="headerBar">

  <div class="container">

    <!--Header logo on the left side-->

    <div class="col-md-4 col-sm-4 col-xs-4 headerLeft">
    <a href="#">Kyle Chadha
    </a>
    </div>

    <!--Header right side with left-aligned menu-->

    <div class="col-md-8 col-sm-8 col-xs-8 headerRight">
      <div class="header-right">

        <!--Navigation-->
        <nav class="navigation">

          <div class="navbar-header">
            <span class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <i class="fa fa-bars"></i>
            </span>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

              <ul class="navbar navbar-right">
                <li><a href="#sectionAbout">About</a></li>
                <li><a href="#sectionPortfolio">Portofolio</a></li>
                <li><a href="#sectionExperience">Experience</a></li>
                <li><a href="#sectionContact">Contact</a></li>
              </ul>

          </div>

        </nav>
        <!--END Navigation-->

      </div>
    </div>
     <!--END Header right side-->


  </div>
  <!--END container-->
</header>
<!--END Header bar-->
