<!-- section PORTOFOLIO -->
<section id="sectionProjects">

  <div class="container">

    <!-- section TITLE -->
    <div class="sectionTitle">

      <h1>Portofolio</h1>
      <h4>I like to build things that solves real problems. And I enjoy working with people who do, too.</h4>
      <div class="separatorlineblack"></div>

    </div>

    <!--GRID START-->
    <div id="worksGrid">

      <!--GRID FILTERS-->
        <div class="worksFiltersDiv">  

          <ul class="worksFilters">
            <li class="filter" data-filter="all">All</li>
            <li class="filter" data-filter=".worksCateg1">Node.js</li>
            <li class="filter" data-filter=".worksCateg2">AngularJS</li>
            <li class="filter" data-filter=".worksCateg3">Ruby on Rails</li>
            <li class="filter" data-filter=".worksCateg4">MongoDB</li>
          </ul>

        </div>

    <!--GRID ITEMS-->

      <div class="col-md-4 col-sm-4 col-xs-12 worksItem worksCateg1">
          <a class="noteasing image-popup-no-margins" href="images/works/placeholder.jpg">
            <img src="images/works/placeholder.jpg" alt="">
            <div class="itemCaption">
            <h2>Project name</h2>
            <p>category</p>
            </div>
          </a>
      </div>


      <div class="col-md-4 col-sm-4 col-xs-12 worksItem worksCateg2">
          <a class="noteasing image-popup-no-margins" href="images/works/placeholder.jpg">
            <img src="images/works/placeholder.jpg" alt="">
            <div class="itemCaption">
            <h2>Project name</h2>
            <p>category</p>
            </div>
          </a>
      </div>


      <div class="col-md-4 col-sm-4 col-xs-12 worksItem worksCateg2">
          <a class="noteasing image-popup-no-margins" href="images/works/placeholder.jpg">
                    <img src="images/works/placeholder.jpg" alt="">
            <div class="itemCaption">
            <h2>Project name</h2>
            <p>category</p>
            </div>
          </a>
      </div>


      <div class="col-md-4 col-sm-4 col-xs-12 worksItem worksCateg1">
          <a class="noteasing image-popup-no-margins" href="images/works/placeholder.jpg">
                    <img src="images/works/placeholder.jpg" alt="">
            <div class="itemCaption">
            <h2>Project name</h2>
            <p>category</p>
            </div>
          </a>
      </div>


      <div class="col-md-4 col-sm-4 col-xs-12 worksItem worksCateg2">
          <a class="noteasing image-popup-no-margins" href="images/works/placeholder.jpg">
                    <img src="images/works/placeholder.jpg" alt="">
            <div class="itemCaption">
            <h2>Project name</h2>
            <p>category</p>
            </div>
          </a>
      </div>


      <div class="col-md-4 col-sm-4 col-xs-12 worksItem worksCateg1">
          <a class="noteasing image-popup-no-margins" href="images/works/placeholder.jpg">
            <img src="images/works/placeholder.jpg" alt="">
            <div class="itemCaption">
            <h2>Project name</h2>
            <p>category</p>
            </div>
          </a>
      </div>


      <div class="col-md-4 col-sm-4 col-xs-12 worksItem worksCateg1">
          <a class="noteasing image-popup-no-margins" href="images/works/placeholder.jpg">
                    <img src="images/works/placeholder.jpg" alt="">
            <div class="itemCaption">
            <h2>Project name</h2>
            <p>category</p>
            </div>
          </a>
      </div>


      <div class="col-md-4 col-sm-4 col-xs-12 worksItem worksCateg2">
          <a class="noteasing image-popup-no-margins" href="images/works/placeholder.jpg">
            <img src="images/works/placeholder.jpg" alt="">
            <div class="itemCaption">
            <h2>Project name</h2>
            <p>category</p>
            </div>
          </a>
      </div>


      <div class="col-md-4 col-sm-4 col-xs-12 worksItem worksCateg1">
          <a class="noteasing image-popup-no-margins" href="images/works/placeholder.jpg">
            <img src="images/works/placeholder.jpg" alt="">
            <div class="itemCaption">
            <h2>Project name</h2>
            <p>category</p>
            </div>
          </a>
      </div>

    <!--END GRID ITEMS-->

  </div>
  <!--GRID END-->

  </div>
  <!--container END -->

</section>
<!--END section PORTOFOLIO -->
