<!-- section PORTOFOLIO -->
<section id="sectionProjects">

  <div class="container">

    <!-- section TITLE -->
    <div class="sectionTitle">

      <h1>Portofolio</h1>
      <h4>I like to build things that solves real problems. And I enjoy working with people who do, too.</h4>
      <div class="separatorlineblack"></div>

    </div>

    <div class="portfolio" id="portfolio">
  <div class="container">
    <section>
      <div id="projects">
        <article class="nav-bar ror node angular mongodb postgresql firebase">
          <h4>Filter By Technology</h4>
          <ul id="filters">
            <li class="current"><a href="#portfolio" data-filter="*">All</a></li>
            <li><a href="#portfolio" data-filter=".ror">Ruby on Rails</a></li>
            <li><a href="#portfolio" data-filter=".angular">AngularJS</a></li>
            <li><a href="#portfolio" data-filter=".node">Node.js</a></li>
            <li><a href="#portfolio" data-filter=".mongodb">MongoDB</a></li>
            <li><a href="#portfolio" data-filter=".postgresql">PostgreSQL</a></li>
            <li><a href="#portfolio" data-filter=".firebase">Firebase</a></li>
          </ul>
        </article>
        <article class="fancy ror postgresql">
          <a data-fancybox-group="gallery" data-title-id="transit-alarm-title" title="Transit Alarm is a mobile web app that notifies travelers when their stop is approaching." href="images/portfolio/transit-alarm.jpg"><img src="images/portfolio/transit-alarm-thumb-2.jpg" alt=""></a>
          <div id="transit-alarm-title" class="portfolio-title">
            Transit Alarm is a mobile web app that notifies travelers when their stop is approaching. Built with Rails 4, Foundation, Geolocation API, GMaps API, and PostgreSQL. <strong>Check it out <a href="http://transitalarm.herokuapp.com/webview" target="_blank">here</a></strong>.
          </div>
        </article>
        <article class="fancy node angular mongodb">
          <a data-fancybox-group="gallery" data-title-id="gloss-title" title="Gloss is a gamified content viewer with high concurrency and rewards for ongoing user engagement." href="images/portfolio/gloss.jpg"><img src="images/portfolio/gloss-thumb.jpg" alt=""></a>
          <div id="gloss-title" class="portfolio-title">
            Gloss is a gamified content viewer with high concurrency and rewards for ongoing user engagement. Built with Node.js, Express, Socket.io, AngularJS, and MongoDB. <strong>Check it out <a href="http://cracked.herokuapp.com" target="_blank">here</a></strong>.
          </div>
        </article>
        <article class="fancy ror mongodb">
          <a data-fancybox-group="gallery" data-title-id="dev-spades-title" title="Dev Spades is a tool to help developers explore useful chrome extensions, sublime text packages, rails gems, and more." href="images/portfolio/dev-spades.jpg"><img src="images/portfolio/dev-spades-thumb-2.jpg" alt=""></a>
          <div id="dev-spades-title" class="portfolio-title">
            Dev Spades is a tool to help developers explore useful chrome extensions, sublime text packages, rails gems, and more. Built with Rails 4, Bootstrap, and MongoDB. <strong>Check it out <a href="http://dev-tools.herokuapp.com" target="_blank">here</a></strong>.
          </div>
        </article>
        <article class="fancy angular firebase">
          <a data-fancybox-group="gallery" data-title-id="qapp-title" title="Qapp is a lightweight app I built to help manage the queue for office hours at General Assembly." href="images/portfolio/qapp.jpg"><img src="images/portfolio/qapp-thumb.jpg" alt=""></a>
          <div id="qapp-title" class="portfolio-title">
            Qapp is a lightweight app I built to help manage the queue for office hours at General Assembly. Built with AngularJS and Firebase. <strong>Check it out <a href="http://wdi-qapp.herokuapp.com" target="_blank">here</a></strong>.
          </div>
        </article>
        <article class="fancy angular firebase">
          <a data-fancybox-group="gallery" data-title-id="tic-tac-toe-title" title="Tic Tac Toe with a twist. Moves disappear after 10 seconds, which means you'll need more than a first mover advantage to win." href="images/portfolio/tic-tac-toe.jpg"><img src="images/portfolio/tic-tac-toe-thumb.jpg" alt=""></a>
          <div id="tic-tac-toe-title" class="portfolio-title">
            Tic Tac Toe with a twist. Moves disappear after 10 seconds, which means you'll need more than a first mover advantage to win. Built with AngularJS and Firebase. <strong>Check it out <a href="http://tic-tac-toe-angularjs.herokuapp.com/" target="_blank">here</a></strong>.
          </div>
        </article>
        <article class="fancy angular firebase">
          <a data-fancybox-group="gallery" data-title-id="tgen-title" title="TGen helps you decide what style to get your next tattoo in. A little ng-fun with ng-model." href="images/portfolio/tattoo-generator.jpg"><img src="images/portfolio/tattoo-generator-thumb.jpg" alt=""></a>
          <div id="tgen-title" class="portfolio-title">
            TGen helps you decide what style to get your next tattoo in. A little ng-fun with ng-model. Built with AngularJS and Firebase.
          </div>
        </article>
        <article class="fancy angular firebase">
          <a data-fancybox-group="gallery" data-title-id="drinkmometer-title" title="The Drinkmometer helps you track your alcohol consumption over the course of the night." href="images/portfolio/drink-responsibly.jpg"><img src="images/portfolio/drink-responsibly-thumb.jpg" alt=""></a>
          <div id="drinkmometer-title" class="portfolio-title">
            The Drinkmometer helps you track your alcohol consumption over the course of the night. Built with AngularJS and Firebase. <strong>Check it out <a href="http://drink-responsibly.herokuapp.com" target="_blank">here</a></strong>.
          </div>
        </article>
        <article class="fancy ror">
          <a data-fancybox-group="gallery" data-title-id="socify-title" title="Leapd is an online platform focused on facilitating offline professional connections." href="images/portfolio/socify.jpg"><img src="images/portfolio/socify-thumb.jpg" alt=""></a>
          <div id="socify-title" class="portfolio-title">
            Leapd (also known as Socify) is an online platform focused on facilitating offline professional connections. Built with Rails 4 and Bootstrap.
          </div>
        </article>
      </div>
    </section>
  </div>
  <!-- / container -->
</div>

  </div>
  <!--container END -->

</section>
<!--END section PORTOFOLIO -->
