<!-- section RESUME -->
<section id="sectionResume">

  <div class="container">

  <!-- section TITLE -->
    <div class="sectionTitle">
      <h1>RESUME</h1>
      <div class="separatorlineblack"></div>
    </div>

  <!-- resume LEFT -->
  <div class="col-md-6 col-sm-6 col-xs-12 resumeLeft">

    <h2>Employment</h2>

      <span class="icon-briefcase"></span>

       <ul class="resumeList">

          <li>
            <b class="resumePeriod">May 2014 - Present</b>          
              <h4><i class="resumeName">JavaScript Developer</i> @ BuzzFeed</h4>
              <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </li>  

          <li>
            <b class="resumePeriod">Apr 2013 - Mar 2014</b>          
              <h4><i class="resumeName">CTO & Co-Founder</i> @ Socify & AdaptForce</h4>
              <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </li>  

          <li>
            <b class="resumePeriod">Jan - Jul 2013</b>          
              <h4><i class="resumeName">Senior Associate</i> @ Clinton Foundation</h4>
              <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </li>  

          <li>
            <b class="resumePeriod">2009 - 2012</b>          
              <h4><i class="resumeName">Associate Consultant</i> @ ZS Associates</h4>
              <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </li>

      </ul>

  </div>
  <!--END resume LEFT  -->

  <!-- resume RIGHT -->

  <div class="col-md-6 col-sm-6 col-xs-12 resumeRight">

    <h2>Education</h2>

      <span class="icon-notebook"></span>

        <ul class="resumeList">

          <li>
            <b class="resumePeriod">Jan - Apr 2014</b>
              <h4>General Assembly<br><i class="resumeName">Web Development Immersive</i></h4>
              <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </li>

          <li>
            <b class="resumePeriod">2005 - 2008</b>
              <h4>University of California, Berkeley<br><i class="resumeName">B.S. in Business Administration</i></h4>
              <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </li>

      </ul>

  </div>
  </div>

</section>
