<!-- section RESUME -->
<section id="sectionResume">

  <div class="container">

  <!-- section TITLE -->
    <div class="sectionTitle">
      <h1>RESUME</h1>
      <div class="separatorlineblack"></div>
    </div>

  <!-- resume LEFT -->
  <div class="col-md-6 col-sm-6 col-xs-12 resumeLeft">

    <h2>Experience</h2>

      <span class="icon-briefcase"></span>

       <ul class="resumeList">

          <li>
            <b class="resumePeriod">May 2014 - Present</b>          
              <h4><i class="resumeName">JavaScript Developer</i> @ BuzzFeed</h4>
              <p>Focus on modernizing the BuzzFeed mobile web application (110MM+ monthly uniques) and implementing a robust, scalable JavaScript application architecture.</p>
          </li>  

          <li>
            <b class="resumePeriod">May 2013 - Apr 2014</b>          
              <h4><i class="resumeName">CTO & Co-Founder</i> @ Socify & AdaptForce</h4>
              <p>Led the product design and development process for two early stage entrepreneurial projects.</p>
          </li>  

          <li>
            <b class="resumePeriod">Jan - Jul 2013</b>          
              <h4><i class="resumeName">Senior Associate</i> @ Clinton Foundation</h4>
              <p>Advised the Rwandan Ministry of Health on the integration of analytics into their resource tracking and decision systems.</p>
          </li>  

          <li>
            <b class="resumePeriod">2009 - 2012</b>          
              <h4><i class="resumeName">Associate Consultant</i> @ ZS Associates</h4>
              <p>Consulted for clients in the sales and marketing space, specializing in analytics and quantitative market research. Collaborated with academic experts on the implementation of a number of modeling solutions, conducted statistical analyses, and served as an instructor for 'ZS University'.</p>
          </li>

      </ul>

  </div>
  <!--END resume LEFT  -->

  <!-- resume RIGHT -->

  <div class="col-md-6 col-sm-6 col-xs-12 resumeRight">

    <h2>Education</h2>

      <span class="icon-notebook"></span>

        <ul class="resumeList">

          <li>
            <b class="resumePeriod">Jan - Apr 2014</b>
              <h4>General Assembly<br><i class="resumeName">Web Development Immersive</i></h4>
              <p>Full time, immersive web development program intended to teach intermediate topics in Rails, MVC, and RESTful architecture. Focus on TDD/BDD and best practices in agile development.</p>
          </li>

          <li>
            <b class="resumePeriod">2005 - 2008</b>
              <h4>University of California, Berkeley<br><i class="resumeName">B.S. in Business Administration</i></h4>
              <p>G.P.A. 3.9/4.0. Recipient of the Management of Engineering & Innovation Certificate, Haas Community Fellow</p>
          </li>

      </ul>

  </div>
  </div>

</section>
