    <!-- section RESUME -->
    <section id="sectionResume">

      <div class="container">

      <!-- section TITLE -->
        <div class="sectionTitle">

            <h1>RESUME</h1>

              <h4>Know more about my past</h4>

                <div class="separatorlineblack"></div>

                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  </p>
        </div>
        <!-- END section TITLE -->

      <!-- resume LEFT -->
      <div class="col-md-6 col-sm-6 col-xs-12 resumeLeft">

        <h2>Employment</h2>

          <span class="icon-briefcase"></span>

           <ul class="resumeList">

              <li>
                <b class="resumePeriod">2014-future</b>          
                  <h4>
                  <i class="resumeName">domain.com</i> @ Looking for a job
                  </h4>
                  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </li>  

              <li>
                <b class="resumePeriod">2011-2014</b>          
                  <h4>
                  <i class="resumeName">themeforest.net</i>@ Webdesigner & Developer
                  </h4>
                  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </li>  

              <li>
                <b class="resumePeriod">2009-2011</b>          
                  <h4>
                  <i class="resumeName">graphicriver.net</i>@ Graphic designer
                  </h4>
                  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </li>  

              <li>
                <b class="resumePeriod">2006-2009</b>          
                  <h4>
                  <i class="resumeName">videohive.net</i>@ Video producer
                  </h4>
                  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </li>

          </ul>

      </div>
      <!--END resume LEFT  -->

      <!-- resume RIGHT -->

      <div class="col-md-6 col-sm-6 col-xs-12 resumeRight">

        <h2>Education</h2>

          <span class="icon-notebook"></span>

            <ul class="resumeList">

              <li>
                <b class="resumePeriod">2014</b>
                  <h4>
                  Exam HTML5 Development <i class="resumeName">passed</i>
                  </h4>
                  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </li>

              <li>
                <b class="resumePeriod">2013-2014</b>
                  <h4>
                  Master of Informatics @ <i class="resumeName">passed</i>
                  </h4>
                  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </li>

              <li>
                <b class="resumePeriod">2009-2013</b>
                  <h4>
                  College of Informatics @ <i class="resumeName">graduated</i>
                  </h4>
                  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </li>

              <li>
                <b class="resumePeriod">2004-2009</b>
                  <h4>
                  IT & Informatics Highschool @ <i class="resumeName">graduated</i>
                  </h4>
                  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </li>

          </ul>

      </div>
      <!-- END resume RIGHT -->
      </div>
      <!-- END container -->



      </section>
      <!--END section RESUME-->

