<!-- section SERVICES -->
<section id="sectionServices">

  <div class="container">

  <!-- section TITLE -->
  <div class="sectionTitle">

    <h1>Technologies</h1>
    <h4>I'm an open book, but this is my preferred stack for the time being.</h4>
    <div class="separatorlineblack"></div>

  </div>
  <!-- END section TITLE -->

  <!--Services-->

  <div class="col-md-4 col-sm-6 col-xs-12 servicesCol4">
    <div class="servicesLeft">
      <span class="icon-lightbulb"></span>
    </div>
    <div class="servicesRight">
    <h3>JavaScript</h3>
      <p>
      JavaScript was my first love and still current tool of choice, and I'm glad to see it's where the web is headed.
      </p>
    </div>
  </div>

  <div class="col-md-4 col-sm-6 col-xs-12 servicesCol4">
    <div class="servicesLeft">
      <span class="icon-tools"></span>
    </div>
    <div class="servicesRight">
    <h3>Node.js</h3>
      <p>
      Still a newbie node developer, but passionate about its power and dedicated to learning the ins and outs.
      </p>
    </div>
  </div>

  <div class="col-md-4 col-sm-6 col-xs-12 servicesCol4">
    <div class="servicesLeft">
      <span class="icon-genius"></span>
    </div>
    <div class="servicesRight">
    <h3>AngularJS</h3>
      <p>
      In my humble opinion, nothing makes web development more fun than the expressiveness of angular.
      </p>
    </div>
  </div>

<!--Services second-row-->

  <div class="col-md-4 col-sm-6 col-xs-12 servicesCol4">
    <div class="servicesLeft">
      <span class="icon-mobile"></span>
    </div>
    <div class="servicesRight">
    <h3>SCSS and BEM</h3>
      <p>
      SCSS just keeps on getting better. And BEM gives it all order with intuitive syntax and a performance focused structure.
      </p>
    </div>
  </div>

 <div class="col-md-4 col-sm-6 col-xs-12 servicesCol4">
    <div class="servicesLeft">
      <span class="icon-linegraph"></span>
    </div>
    <div class="servicesRight">
    <h3>HTML5 & CSS3</h3>
      <p>
      It was about time! Look forward to seeing these two pillars of the web continue to improve.
      </p>
    </div>
  </div>

  <div class="col-md-4 col-sm-6 col-xs-12 servicesCol4">
    <div class="servicesLeft">
      <span class="icon-heart"></span>
    </div>
    <div class="servicesRight">
    <h3>Love</h3>
      <p>
      Because nothing puts it all together like a little bit of love.
      </p>
    </div>
  </div>

  <!--END Services-->
  </div>
  <!-- END container -->
</section>
<!-- END section SERVICES-->
