<!-- section SERVICES -->
<section id="sectionServices">

  <div class="container">

  <!-- section TITLE -->
  <div class="sectionTitle">

    <h1>Technologies</h1>
    <h4>Some stuff I like to use</h4>
    <div class="separatorlineblack"></div>

  </div>
  <!-- END section TITLE -->

  <!--Services-->

  <div class="col-md-4 col-sm-6 col-xs-12 servicesCol4">
    <div class="servicesLeft">
      <span class="icon-lightbulb"></span>
    </div>
    <div class="servicesRight">
    <h3>JavaScript</h3>
      <p>
      JavaScript is what I do day in and day out, and I'm glad to see it's where the web is headed.
      </p>
    </div>
  </div>

  <div class="col-md-4 col-sm-6 col-xs-12 servicesCol4">
    <div class="servicesLeft">
      <span class="icon-tools"></span>
    </div>
    <div class="servicesRight">
    <h3>Node.js</h3>
      <p>
      Still a newbie node developer, but passionate about it's power and dedicated to learning its ins and outs.
      </p>
    </div>
  </div>

  <div class="col-md-4 col-sm-6 col-xs-12 servicesCol4">
    <div class="servicesLeft">
      <span class="icon-genius"></span>
    </div>
    <div class="servicesRight">
    <h3>AngularJS</h3>
      <p>
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
      </p>
    </div>
  </div>

<!--Services second-row-->

  <div class="col-md-4 col-sm-6 col-xs-12 servicesCol4">
    <div class="servicesLeft">
      <span class="icon-mobile"></span>
    </div>
    <div class="servicesRight">
    <h3>SCSS</h3>
      <p>
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
      </p>
    </div>
  </div>

 <div class="col-md-4 col-sm-6 col-xs-12 servicesCol4">
    <div class="servicesLeft">
      <span class="icon-linegraph"></span>
    </div>
    <div class="servicesRight">
    <h3>HTML5 & CSS3</h3>
      <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
      Donec sit amet venenatis ligula. Aenean sed augue scelerisque, dapibus risus sit amet.
      </p>
    </div>
  </div>

  <div class="col-md-4 col-sm-6 col-xs-12 servicesCol4">
    <div class="servicesLeft">
      <span class="icon-heart"></span>
    </div>
    <div class="servicesRight">
    <h3>Love</h3>
      <p>
      Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Donec sit amet venenatis ligula. Aenean sed augue scelerisque, dapibus risus sit amet.
      </p>
    </div>
  </div>

  <!--END Services-->
  </div>
  <!-- END container -->
</section>
<!-- END section SERVICES-->
